.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1f23;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 400px;
  padding: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.info-container {
  flex-grow: 1;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.username {
  color: #555;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}
